#REQUIRED PARAMETERS
treefile_path = example/example.tre #Must be newick or Nexus format, and include branch lengths
number_of_variable_sites = 100
base_genome_name = gi #Should be the label of a tip in your tree
base_genome_path = example/barref.fasta
output_dir = validation/tree1


#parameters of evolutionary model (comma seperated)
rate_matrix = 0.38,3.83,0.51,0.01,4.45,1
freq_matrix =  0.19,0.31,0.29,0.21

#parameters for read simulation
coverage = 20 #either an integer or a file name of a comma delimited file with tip names and coverage

#OPTIONAL PARAMETERS
prefix = sim_ #optional prefix prepended to sequence names, default is using orginal sequence names

#Optional evolutionary model parameters
gamma_shape = 5 #dafault is no rate variation across sites

#parameters for clustering of variable site locations (OPTIONAL)
mutation_clustering = ON
percent_clustered = 0.25 #The percentage of variable sites whose distance to another site is drawn from the clustering distribution
exponential_mean = 125 #Minimum allowed value = 2

#ART Optional parameters (for more fine grained control ART can be run seperately on the mutated genomes found in outdir/fasta_files)
error_model1 = example/ErrprofR1.txt  # If you haven't generated have one of your own using ART, you can use one supplied by ART.
error_model2 = example/ErrprofR2.txt  # Un-comment these lines (delete the first #) to set a non-default error profile
read_length = 150 #maximum value with example error profile is 150, use a default or generate adifferent error profile for longer reads.
fragment_size = 380
stdev_frag_size = 120

#Optional Indel Parameters, see http://abacus.gene.ucl.ac.uk/software/indelible/manual/model.shtml for more info
#indel_model =  LAV 1.7  541   #  specifies the indel length distribution
#indel_rate  =   0.1       #  rates of insertion and deletion are both 0.i


